html,
body
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F5F8;
}

.main-body
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
}

.header
{
    grid-column-start: 1;
    grid-column-end: 6;
}

.navBar-grid
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
}

.page-title-grid
{
    
    height: 100%;
    grid-column: 1 /span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title-grid > h1
{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin: 0px;
    font-size: 6rem;
    color: black;
}

.add-new-grid
{
    border-radius: 1px solid black;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-btn
{
    width: 55%;
    height: 60px;
    border-radius: 25px;
    background-color: #ABF94D;
    color: white;
    border-style: hidden;
    font-size: 100%;
    font-weight: 700;
    color: black;
    transition: transform 0.3s ease;
}

.add-btn:hover 
{
    background-color: #FAF675;
    transform: translateY(-4px);
}

.add-btn:active 
{
    transform: translateY(4px);
}

.github-icon-grid
{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
}

.github-svg-logo
{
    width: 40px;
    margin-right: 40px;
    transition: transform 0.3s ease;
}

.github-svg-logo:hover 
{
    animation: rotateAnimation 4s linear infinite;
}

.github-svg-logo:active 
{
    transform: translateY(4px);
}

@keyframes rotateAnimation 
{
    from 
    {
        transform: rotate(0deg);
    }

    to 
    {
        transform: rotate(360deg);
    }
}

.mainContent
{
    grid-column: 1 / span 5 ;
    grid-row: 2 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-template-grid
{
    height: 95%;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}

.book
{
    background: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid black;
}

.book-btn
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.book-btn>button
{
    width: 35%;
    height: 40px;
    border-radius:25px;
    background-color: #ABF94D;
    color: white;
    border-style: hidden;
    font-size: 75%;
    font-weight: 700;
    color: black;
    transition: transform 0.3s ease;
}

.book-btn>button:hover
{
    background-color: #FAF675;
    transform: translateY(-4px);
}

.book-btn>button:active
{
    transform: translateY(4px);
}

#popup 
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.form-container
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden
{
    display: none;
}

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    font-family: 'Roboto', sans-serif;
}

.form 
{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;

}

/*Form text*/
.title 
{
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle 
{
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container 
{
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input 
{
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section 
{
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a 
{
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover 
{
    color: #ABF94D;
    text-decoration: underline;
}

/*Button*/
.form button 
{
    background-color:#ABF94D;
    color: black;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover 
{
    background-color: #FAF675;
}

.yesNo
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.remove-btn 
{
    background-color: #F08080 !important;
}