html,
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    background-image: radial-gradient(#B6F38B 10%, transparent 10%),
            radial-gradient(#56EDAA 10%, transparent 10%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}

.main-body
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
}

.header
{
    grid-column-start: 1;
    grid-column-end: 6;
}

.navBar-grid
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
}

.page-title-grid
{
    
    height: 100%;
    grid-column: 1 /span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title-grid > h1
{
    font-family: 'UnifrakturCook', cursive;
    font-weight: bolder;
    margin: 0px;
    font-size: 6rem;
    background: linear-gradient(to right, #9E26E8, #56EDAA);
        -webkit-background-clip: text;
        color: transparent;
    -webkit-text-stroke: 4px black;
}

.add-new-grid
{
    border-radius: 1px solid black;
    grid-column: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #B6F38B;
    padding: 1.5em 2.5em;
    border: none;
    border-radius: .8rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border:1px solid black;
    color: black;
}

.add-btn span:not(:nth-child(6)) 
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    background-color: #56EDAA;
    border-radius: 50%;
    transition: .6s ease;
}

.add-btn span:nth-child(6) 
{
    position: relative;
}

.add-btn span:nth-child(1) 
{
    transform: translate(-3.3em, -4em);
}

.add-btn span:nth-child(2) 
{
    transform: translate(-6em, 1.3em);
}

.add-btn span:nth-child(3) 
{
    transform: translate(-.2em, 1.8em);
}

.add-btn span:nth-child(4) 
{
    transform: translate(3.5em, 1.4em);
}

.add-btn span:nth-child(5) 
{
    transform: translate(3.5em, -3.8em);
}

.add-btn:hover span:not(:nth-child(6)) 
{
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

.mainContent
{
    grid-column: 1 / span 5 ;
    grid-row: 2 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-template-grid
{
    height: 100%;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}

.book
{
    background: rgba(182, 243, 139, 0.8);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.book-btn
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.book-btn>button
{
    width: 35%;
    height: 40px;
    border-radius:25px;
    background-color: #56EDAA;
    color: white;
    border-style: hidden;
    font-size: 75%;
    font-weight: 700;
    color: black;
    transition: transform 0.3s ease;
}

.book-btn>button:hover
{
    background-color: #9E26E8;
    color:white;
    transform: translateY(-4px);
}

.book-btn>button:active
{
    transform: translateY(4px);
}